.navbar {
    display: flex;
    justify-content: flex-end;  /* Moves content to the right */
    align-items: center;
    padding: 15px 30px;
    background-color: #2C3E50; /* Modern navy blue */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* border-radius: 10px; */
}

.navbar h1 {
    color: #ECF0F1;  /* Light grey for contrast */
    font-size: 24px;
    font-weight: bold;
    margin: 0;  /* Remove extra margin */
}
